@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.sec{
    background: linear-gradient(rgba(0, 0, 0, 0.897), rgb(17, 17, 17) ), url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 100px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: white;
    font-size: 4em;
    line-height: 1.5;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.content .textBox h2 span{
    font-size: 1.5em;
}

.content .textBox p{
     color: white;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: white;
    color: black;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top: 30px;
    justify-content: flex-end;
}

.content .imgBox img{
    max-width: 260px;
    max-height: 500px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li img{
   max-width: 40px;
}

.thumb li:hover{
    transform: translateY(-20px);
}